BRAIN_REPO_TOKEN="Git_Repo_Token"
MLFLOW_TRACKING_USERNAME=username
MLFLOW_TRACKING_PASSWORD="password"
# BRAIN_TRANSFORM_HASH=28b77e14 #can be set to enforce using a dataset version transformed by the here specified transform pipeline version
TRIALS=2 #number of trials to run the optuna experiment
MLFLOW_SERVER=https://mlflow.mlopsbrain.world
TRANSFORM_API_URL=https://transform.mlopsbrain.world
PYTHONUNBUFFERED=1 #this makes debugging python code inside a container much more easy